<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="systemscenarios.AmazonProject.TestCase1_Login_Cart_Logout"/>
      <class name="systemscenarios.AmazonProject.TestCase2_Login_PaymentCOD_Logout"/>
      <class name="systemscenarios.AmazonProject.TestCase3_Registration_Login"/>
      <class name="systemscenarios.AmazonProject.TestCase4_AddingtoWishlist_Removing"/>   
      <class name="systemscenarios.AmazonProject.TestCase5_Login_SearchProduct_Cart_Add_Remove"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
